<% if flash[:alert_blank] || flash.now[:alert_check_in] || flash.now[:alert_day] || flash.now[:alert_number] %>

<h3><%= link_to "←戻る", :back %></h3>

<div>

  <div>
    <% if @room.hotel? %>
      <%= image_tag @room.hotel.url, size: "200x160" %>
    <% else %>
      <%= image_tag "hotel_default.png", size: "100x80" %>
    <% end %>
  </div>

  <div>
   <%= form_with url: reservations_confirm_path do |f| %>
    <table>
     <%= f.hidden_field :room_id, value: @room.id %>

     <tr>
       <th><%= f.label :name, "施設名" %></th>
       <td><%= @room.name %></td>
     </tr>
 
     <tr>
       <th><%= f.label :price, "値段" %></th>
       <td><%= @room.price %>円/日</td>
       <%= f.hidden_field :price, value: @room.price %>
     </tr>
 
     <tr>
       <th><%= f.label :address, "住所" %></th>
       <td><%= @room.address %></td>
     </tr>
 
     <tr>
       <th><%= f.label :introduction, "施設紹介" %></th>
       <td><%= @room.introduction %></td>
     </tr>

     <tr>
       <th><%= f.label :check_in, "チェックイン" %></th>
       <td><%= f.datetime_field :check_in %></td>
     </tr>

     <tr>
       <th><%= f.label :check_out, "チェックアウト" %></th>
       <td><%= f.datetime_field :check_out %></td>
     </tr>

     <tr>
       <th><%= f.label :number_of_people, "人数" %></th>
       <td><%= f.number_field :number_of_people %></td>
     </tr>
    </table>

    <% if user_signed_in? %>
      <p><%= f.submit "予約する" %></p>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <% end %>
   </div>
</div>

<% if flash.now[:alert_blank] %>
   <p class="notice"><%= flash.now[:alert_blank] %></p>
<% end %>

<% if flash.now[:alert_check_in] %>
   <p class="notice"><%= flash.now[:alert_check_in] %></p>
<% end %>

<% if flash.now[:alert_day] %>
   <p class="notice"><%= flash.now[:alert_day] %></p>
<% end %>

<% if flash.now[:alert_number] %>
   <p class="notice"><%= flash.now[:alert_number] %></p>
<% end %>

<% else %>

<h3>予約内容の確認</h3>

<div>
  <%= form_with model: @reservation do |f| %>
    <table>
      <%= f.hidden_field :user_id, value: @user_id %>
      <%= f.hidden_field :room_id %>
      <tr>
        <th>チェックイン</th>
        <td><%= @reservation.check_in.strftime('%Y/%m/%d') if @reservation.check_in %></td>
        <%= f.hidden_field :check_in, value: @reservation.check_in %>
      </tr>
  
      <tr>
        <th>チェックアウト</th>
        <td><%= @reservation.check_out.strftime('%Y/%m/%d') if @reservation.check_out %></td>
        <%= f.hidden_field :check_out, value: @reservation.check_out %>
      </tr>

      <tr>
        <th>日数</th>
        <td><%= @day %>日</td>
        <%= f.hidden_field :day, value: @day %>
      </tr>

      <tr>
        <th>人数</th>
        <td><%= @reservation.number_of_people %>人</td>
        <%= f.hidden_field :number_of_people, value: @reservation.number_of_people %>
      </tr>

      <tr>
        <th>お支払い金額</th>
        <td><%= @total %>円</td>
        <%= f.hidden_field :total_price, value: @total %>
      </tr>
    </table>

    <div>
      <p>上記内容で正しければ「確定」ボタンを押してください。</p>
      <p><%= f.submit "確定" %></p>
      <p><%= link_to "キャンセル", :back %></p>
    </div>
  <% end %>
</div>

<% end %>